@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: var(--font-poppins);
    color: white;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.offScroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
/* .offScroll {
    position: fixed;
} */

.darkBlueText,
.lightBlueText {
    color: #5d8eff;
    font-size: 1rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    font-weight: 500;
}
.lightBlueText {
    color: #acc9ff;
}
